html
	head
		title About Us
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/about.css")
	body
		.container
			
			header
				nav
					if user 
						div
							a#logout(href= "/logout") Logout
						div
							a(href= "/") Home
						div
							a(href= "/profile") Profile
						div
							a(href= '/myevent') My Events
						div
							a(href='/event') Event Calender
						div
							a(href='/about') About
						div
							a(href='/contact') Contact Us
					else
						div
							a(href= "/") Home
						div
							a(href='/event') Event Calender
						div
							a(href='/login') Login
						
						div
							a(href='/about') About
						div
							a(href='/contact') Contact Us

			header
				img#logo(src="../img/Placeholderlogo.png")
					
			main
				h1 About Us
				br

				p We are a small company based in the city of sin, Amsterdam. Despite the density of this city we have discovered that people are still experiencing loneliness.					Thus, we have embarked on a journey to create fruitful new friendships, together, one pair at a time. Be a part of this journey. 
				br
			   

				h3 Get Aligned!





			footer
				p &copy; 2017 Align Inc. All rights reserved.