html
	head
		title About Us
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/about.css")
	body
		.container
			
			header
				nav
					if loggedInUser 
						div
							a#logout(href= "/logout") Logout
						div
							a(href= "/") Home
						div
							a(href= "/profile") Profile
						div
							a(href= '/myevent') My Events
						div
							a(href='/event') Event Calender
						div
							a(href='/about') About
						div
							a(href='/contact') Contact Us
					else
						div
							a(href= "/") Home
						div
							a(href='/event') Event Calender
						div
							a(href='/login') Login
						div
							a(href='/register') Register
						div
							a(href='/about') About
						div
							a(href='/contact') Contact Us

			.indexcontainer
				
					
				main
					img(src="../img/Placeholderlogo.png")
					h1 About 

					.content

						p  We are a small company based in the city of sin, Amsterdam. Despite the density of this city we have discovered that people are still experiencing loneliness. Thus, we have embarked on a journey to create fruitful new friendships, together, one pair at a time. Be a part of this journey. 
						br

						h2  How align works
						p  Think back to a moment in your life when you really wanted to participate in some kind of activity or event but you didnt know anyone in your immediate network that you thought would be interested in joining you. Thats why we have created Align! So how does it work? Well, you sign up, can browse events and then get matched to someone with the same event interests. If its a mutual 'Yes' then you can proceed to go for a meet up and get Aligned with new friends in your city.
						
						
						h3
							a.button(href="/register") Get Aligned!
							br

				footer
					p &copy; 2017 Align Inc. All rights reserved.