html
	head
		title Align
	body
		h1 Align
		p Meet new people, the adventurous way. 

		h4 Core benefits
		ul
			li Matches based on preferences
			li Always go to parties with a party
			li No strings attached