html
	head
		title Login
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/login.css")
		script(src='../js/jquery-3.2.1.min.js')
		script.
			$(document).ready(function () {
				$('#submit').click(function(event) {
					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
						event.preventDefault();
						$('#error-message')
						alert('You forget to fill in your password bruh.')
					}
				});
			});
	body
		.container
			header
				nav
					div
						a(href= "/") Home
					div
						a(href='/event') Event Calender
					div
						a(href='/about') About
					div
						a(href='/contact') Contact Us
            
		main
			h1 Please Login:
			form(action='/login' method='post')
				label Email:
				br
				input(id='email' name='email' required)
				br
				label Password:
				br
				input(type='password' id='password' name='password', required)
				br
				input(type='submit' value='login' id='submit')
			h2#error-message= post
      
			footer
				h4 &copy; 2017 Align Inc. All rights reserved.