doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script.
			$(document).ready(function () {
				$('#submit').click(function(event) {
					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
						event.preventDefault();
						$('#error-message')
						alert('You forget to fill in your password bruh.')
					}
				});
			});
	body
		form(action='/login' method='post')
			label Email:
			br
			input(id='email' name='email' required)
			br
			label Password:
			br
			input(id='password' name='password', required)
			br
			input(type='submit' value='login' id='submit')
		h2#error-message= post
