html
	head
		title My Profile
		link(rel="stylesheet" href="../css/style.css")
	body
		header
			nav
				div
					a(href= "/logout") Logout
				div
					a(href= "/") Home
				div
					a(href= "/profile") Profile
				div
					a(href= '/myposts') My Events
				div
					a(href='/post') Event Calender
				div
					a(href='about') About
				div
					a(href='/contact') Contact Us

		main
			h1 #{user.firstname}'s Profile		
			h2 Welcome to your profile #{user.firstname}!
			h3
				a(href='/events') Click here to view all events!
			h3
				a(href='/myevents') Click to view all the events you posted!

		footer
			h4 &copy; 2017 Align Inc. All rights reserved.