html
	head
		title My Profile
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/profile.css")
	body
		.container
			header
				nav
					div
						a#logout(href= "/logout") Logout
					div
						a(href= "/") Home
					div
						a(href= "/profile") Profile
					div
						a(href= '/event') My Events
					div
						a(href='/event') Event Calender
					div
						a(href='/about') About
					div
						a(href='/contact') Contact Us

			main
				h1 #{user.firstname}'s Profile		
				h2 Welcome to your profile #{user.firstname}!
				h3
					a(href='/event') Click here to view all events!
				h3
					a(href='/myevents') Click to view all the events you posted!
				if picture
					img(id="profilepicture" src=picture.picture)
				else
					h3 Upload or change your profile picture!
					form(method="post" action="/picture" encType="multipart/form-data")
						input(type='file' name="picture" accept="image/jpg")
						br
						input(type='submit' value="Load up your image")
			footer
				h4 &copy; 2017 Align Inc. All rights reserved.