.container {
  background: #1e5799; /* Old browsers */
  background: -webkit-linear-gradient(#1e5799 0%, #207cca 29%, #2989d8 50%, #7db9e8 100%);
  background: -o-linear-gradient(#1e5799 0%, #207cca 29%, #2989d8 50%, #7db9e8 100%);
  background: linear-gradient(#1e5799 0%, #207cca 29%, #2989d8 50%, #7db9e8 100%);
}

body {
	overflow-y: scroll;
}

.indexcontainer {

}

.indexcontainer h1 {
	text-align: left;
}

main section {
	width: 70%;
	margin: 0 auto;
}

section {
	margin-top: 40px;
	padding-left: 15px;
	padding-right: 5px;
}

.findus {
	margin-top: 50px;
	display: block;
	height: 50%;
	text-align: center;
}

section h2 {
	color: #122647;
	text-align: center;
	margin-bottom: 10px;
}

.findush2p {
	margin-top: 30px;
	float: left;
	width: 50%;
}

.findusaddress {
	margin-left: 60px;
}

.sendmessage {
	margin-top: -80px;
}

#messageform {
	margin: 30px;
	margin-top: 30px;
	text-align: center;
}

#messageform input {
	font-size: 28px;
	margin: 10px 0;
	padding: 5px;
	color: #122647;
	padding-left: 20px;
	height: 10%;
	width: 60%;
	border: 1px solid #133d6d;
	border-radius: 10px;
}

#messageform textarea {
	margin-top: 10px;
	border: 1px solid #133d6d;
	border-radius: 10px;
	padding: 10px;
	resize: none;
	height: 30%;
	width: 60%;
}

.box:focus {
	background-color: #adccff;
}

.submit {
	background-color: #5d3ded;
	cursor: pointer;
}

address {
	display: inline-block;
	text-align: center;
	background-color: rgba(81, 141, 194, 0.8);
	border: 1px solid #133d6d;
	padding: 20px;
	margin-top: 40px;
}