body {
	overflow-y: scroll;
	text-align: center;
}

.indexcontainer h1 {
	text-align: left;
}

section {
	margin-top: 40px;
	padding-left: 15px;
	padding-right: 5px;
}

section h2 {
	margin: 0 auto 10px;
	color: #122647;
}

#messageform {
	margin: 30px;
	margin-top: 30px;
	text-align: center;
}

#messageform input {
	font-size: 28px;
	margin: 10px 0;
	padding: 5px;
	color: #122647;
	padding-left: 20px;
	height: 10%;
	width: 60%;
	border: 1px solid blue;
	border-radius: 10px;
}

#messageform textarea {
	margin-top: 10px;
	border: 1px solid blue;
	border-radius: 10px;
	padding: 10px;
	resize: none;
	height: 30%;
	width: 60%;
}

.box:focus {
	background-color: #adccff;
}

.submit {
	background-color: #5d3ded;
	cursor: pointer;
}

address {
	display: inline-block;
	text-align: center;
	background-color: rgba(81, 141, 194, 0.8);
	border: 1px solid blue;
	padding: 20px;
	margin-top: 40px;
}