.container {
  background: #1e5799; /* Old browsers */
  background: -webkit-linear-gradient(#1e5799 0%, #207cca 29%, #2989d8 50%, #7db9e8 100%);
  background: -o-linear-gradient(#1e5799 0%, #207cca 29%, #2989d8 50%, #7db9e8 100%);
  background: linear-gradient(#1e5799 0%, #207cca 29%, #2989d8 50%, #7db9e8 100%);
}

#loginform {
	text-align: center;
	margin: 40px;
}

#loginform label {
	font-size: 22px;
	margin: 20px;
}

#loginform input {
	font-size: 30px;
	text-align: center;
	border: 1px solid #133d6d;
	border-radius: 20px;
	width: 60%;
	padding: 30px;
}

.box:focus {
	background-color: #adccff;
}

.submit {
	background-color: #5d3ded;
	cursor: pointer;
	color: #122647;
}

footer {
	margin-top: 57px;
} 